@model carsharing.ViewModels.ResultsViewModel
@using Microsoft.AspNetCore.Identity
@using carsharing.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{    
    ViewData["Title"] = "Profile";
}

@{
    var user = await UserManager.GetUserAsync(User);
    var role = " ";

    // get his role
    var current_role = await SignInManager.UserManager.GetRolesAsync(user);

    role = (current_role.First() == "Renter") ? "Renter" : "Owner";
}


<section class="container">
  <div class="container py-5">
    <div class="row">
      @*Left part of page*@
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
@*            @if (Role.Equals("Owner"))
            {
                <img src="@Model.Owner.ProfilePicture" alt="avatar"
                class="rounded-circle img-fluid" style="width: 9em;">
            }
            else
            {
                <img src="@Model.Renter.ProfilePicture" alt="avatar"
                class="rounded-circle img-fluid" style="width: 9em;">
            }   *@
            <h5 class="my-3"></h5>
            <p class="text-muted mb-1">♦️@role</p>
            <p class="text-muted mb-4">✩159 Reviews</p>

            <a id="manage" class="btn-c-a text-center btn-outline-dark mb-2" data-mdb-ripple-color="dark" href="/edit/profile" title="Manage">Edit profile</a>
          </div>
          
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body text-center">
            <h5 class="my-3">@user.FirstName is confirmed!</h5>
            <h6 class="my-3">✓Identity</h6>
            <h6 class="my-3">✓E-mail address</h6>
            <h6 class="my-3">✓Phone number</h6>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0 mt-4">
          <div class="card-body text-center">
            <h5 class="mt-3 mb-4">Awards:</h5>
            <div>
                <span class="material-icons">military_tech</span>
                <p class="mb-3">@role of the month</p>
            </div>
            <div>
                <span class="material-icons">workspace_premium</span>
                <p class="mb-0">Kindness and cooperation</p>
            </div>
          </div>
        </div>
      </div>

      @* Rght part of page *@
      <div class="col-lg-8">
        <div class="card-body">
            <h3>Hi, I'm @user.FirstName @user.LastName!</h3>
            <p class="text-muted mb-1">Joined since 2016</p>
        </div>

        @*Main info*@
        <section class="container"> 
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <span class="material-icons" style='float:left;'>person</span>
                    <p class="mb-0">Full Name</p>
                  </div>    
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">@user.FirstName @user.LastName</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <span class="material-icons" style='float:left;'>email</span>
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">@user.Email</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <span class="material-icons" style='float:left;'>call</span>
                    <p class="mb-0">Mobile</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">+30 @user.PhoneNumber</p>
                  </div>
                </div>
              </div>
            </div>
        </section>
        
        <div class="card-body">
            <h5>🔸@user.FirstName's Listings: </h5>
        </div>

        @*User's listings*@
        <section>
          <div class="container">
            <div class="row">
                <div class="col col-lg-2 text-right">
                    <a class="btn btn-color mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <img src="/img/chevron_left_white_24dp.svg"  />
                    </a>
                    <a class="btn btn-color mb-3 " href="#carouselExampleIndicators2" role="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <img src="/img/navigate_next_white_24dp.svg"  />
                    </a>
                </div>
                
@*                 @if (@Model.ErrorMessage.Equals(""))
                 {
                    
                        <div class="col-12">
                            <div id="carouselExampleControls" class="carousel slide pr_card-imgs" data-bs-ride="carousel">

                                <div class="carousel-inner">
                                     
                                        <div class="carousel-item active">
                                            <div class="row">
                                                @foreach (var post in Model.Posts.ToList())
                                                {
                                                    <div class="col-md-4 mb-3">
                                                        <div class="card">
                                                            <img class="img-fluid" alt="100%x280" src="@post.ThumbnailUrl" max-width="500">
                                                            <div class="card-body">
                                                                <h4 class="card-title">@post.Title</h4>
                                                                @Html.ActionLink("View more", "Details", "Post", new { id = post.PostId }, new { @class = "btn-create-results view-more-btn ms-1 mt-4" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    
                 }*@
@*                 else
                 {
                    <div class="d-flex justify-content-center">
                    @if (@Role.ToString() == "Owner")
                        {
                        <h2>@Model.ErrorMessage</h2>
                        }
                        else
                        {
                            <h3 class="mt-5 blue-text text-center">Seems like you do not have permission to rent your own cars. Upgrade to an owner now!</h3>
                        }
                    </div>
                }

                @if (@Role.ToString() == "Owner")
                {
                <div class="text-center mt-4">
                    <a asp-area="" asp-controller="CreatePost" asp-action="Index" class="btn btn-n btn-outline-dark mb-2" data-mdb-ripple-color="dark">
                        <h4>+ Create new post</h4> 
                    </a>
                </div>  
                }
                *@
            </div>
        </div>
        </section>
      </div>
      
        @*Reviews and Comments*@
        <section>
           <div class="container text-center mt-5">
                <div class="card">
                    <div class="card body">
                        <div class="row  d-flex mt-5 mb-4">
					        <div class="col-md-4 d-flex flex-column">
						        <div class="rating-box">
							        <h1 class="pt-4">4.0</h1>
							        <p class="">out of 5</p>
						        </div>
						        <div>
							        <span class="material-icons star-active mx-1">star_rate</span>
							        <span class="material-icons star-active mx-1">star_rate</span>
							        <span class="material-icons star-active mx-1">star_rate</span>
							        <span class="material-icons star-active mx-1">star_rate</span>
                                    <span class="material-icons star-inactive mx-1">star_rate</span>
						        </div>
					        </div>
					        <div class="col-md-8">
						        <div class="container">
							        <table class="mx-auto">
								        <tr>
									        <td class="rating-label">Excellent</td>
									        <td class="rating-bar">
										        <div class="bar-container">
									              <div class="bar-5"></div>
									            </div>
									        </td>
									        <td class="text-right">123</td>
								        </tr>
								        <tr>
									        <td class="rating-label">Good</td>
									        <td class="rating-bar">
										        <div class="bar-container">
									              <div class="bar-4"></div>
									            </div>
									        </td>
									        <td class="text-right">23</td>
								        </tr>
								        <tr>
									        <td class="rating-label">Average</td>
									        <td class="rating-bar">
										        <div class="bar-container">
									              <div class="bar-3"></div>
									            </div>
									        </td>
									        <td class="text-right">10</td>
								        </tr>
								        <tr>
									        <td class="rating-label">Poor</td>
									        <td class="rating-bar">
										        <div class="bar-container">
									              <div class="bar-2"></div>
									            </div>
									        </td>
									        <td class="text-right">3</td>
								        </tr>
								        <tr>
									        <td class="rating-label">Terrible</td>
									        <td class="rating-bar">
										        <div class="bar-container">
									              <div class="bar-1"></div>
									            </div>
									        </td>
									        <td class="text-right">0</td>
								        </tr>
							        </table>
						        </div>
					        </div>
				        </div>
                     </div>
                </div>
                <div class="card mt-5">

				        <div class="row  d-flex mt-5 mb-4">
                            <div class="col-md-3 d-flex flex-column">
						        <div class="pic-mes">
						            <img src="https://th.bing.com/th/id/R.475763781e490786c021f2f8f57bc87a?rik=SEPvooeqfgw0kA&riu=http%3a%2f%2fimages.unsplash.com%2fphoto-1535713875002-d1d0cf377fde%3fcrop%3dentropy%26cs%3dtinysrgb%26fit%3dmax%26fm%3djpg%26ixid%3dMnwxMjA3fDB8MXxzZWFyY2h8NHx8bWFsZSUyMHByb2ZpbGV8fDB8fHx8MTYyNTY2NzI4OQ%26ixlib%3drb-1.2.1%26q%3d80%26w%3d1080&ehk=Gww3MHYoEwaudln4mR6ssDjrAMbAvyoXYMsyKg5p0Ac%3d&risl=&pid=ImgRaw&r=0" alt="avatar"
                                    class="rounded-circle img-fluid" style="width: 9em;">
					            </div>
					        </div>
					        
					        <div class="col-md-2 mt-4">
						        <h3 class="mb-0 text-left">Bill Hajy</h3>
						        <div>
							        <span class="material-icons star-comment mx-1">star_rate</span>
							        <span class="material-icons star-comment mx-1">star_rate</span>
							        <span class="material-icons star-comment mx-1">star_rate</span>
							        <span class="material-icons star-inactive-comment mx-1">star_rate</span>
                                    <span class="material-icons star-inactive-comment mx-1">star_rate</span>
						        </div>
					        </div>
					        <div class="col-md-7">
						        <p class="text-muted">10 Sept</p>
					        </div>
				        </div>
				        <div>
					        <h3 class="blue-text mt-1">"Very good experience"</h3>
					        <p class="content">The owner was very kind and helpful, the car's condition was okay  .</p>
				        </div>
				        <div class="text-center mb-5">
					        <img class="pic" src="https://th.bing.com/th/id/R.10435d4310e4942847951df2325fc52d?rik=RKRLHl7mUIrZTA&riu=http%3a%2f%2fwww.johnecarsltd.co.uk%2fclientpics%2fDSCF1414.JPG&ehk=oYCInkU50kIXxcNTqkXttKTQowEYqMA28RgLogA8Rxg%3d&risl=&pid=ImgRaw&r=0">
					        <img class="pic" src="https://img2.stcrm.it/images/21927717/HOR_STD/x600/opel-astra-2019-14.jpg">
					        <img class="pic" src="https://i.ebayimg.com/00/s/NjAwWDgwMA==/z/G2cAAOSwcBleXxZJ/$_86.JPG">
				        </div>
				       @* <div class="row text-center mt-4 mb-4">
					        <div class="like mr-3 vote">
						        <img src="https://i.imgur.com/mHSQOaX.png"><span class="blue-text pl-2">20</span>
					        </div>
					        <div class="unlike vote">
						        <img src="https://i.imgur.com/bFBO3J7.png"><span class="text-muted pl-2">4</span>
					        </div>
				        </div>*@
			    </div>

           </div>

        </section>
    </div>
  </div>
</section>