@model carsharing.ViewModels.ResultsViewModel;
@{
    ViewData["Title"] = "Search Results";
}

@* Add the search functionality here too *@


@* Results section *@
<section>
    <div class="container">
        <div class="d-flex flex-column">
            @if (@Model.ErrorMessage.Equals(""))
            {
                @foreach (var post in Model.Posts.ToList())
                {
                    <div class="card mb-3" style="max-width: 720px;">
                        <div class="row no-gutters">
                        <div class="col-md-4">
                          <img src="@post.ThumbnailUrl" class="card-img" alt="alt text">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">@post.Title</h5>
                            <p class="card-text">Description</p>
                            <p class="card-text">@post.City</p>
                            <p class="card-text"><small class="text-muted">@post.Owner.FirstName @post.Owner.LastName</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                }
            }
            else
            {
                <div class="d-flex justify-content-center">
                    
                    <h2>
                        @Model.ErrorMessage
                    </h2>
                </div>
            }
        </div>
    </div>

</section>
